<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pawn_white">
  <link
    name="pawn_white">
    <inertial>
      <origin
        xyz="1.28E-18 4.32339562506872E-19 0.0095549"
        rpy="0 0 0" />
      <mass
        value="0.0055823" />
      <inertia
        ixx="5.5256E-07"
        ixy="2.8877E-23"
        ixz="8.2443E-24"
        iyy="5.5256E-07"
        iyz="-1.74142925619645E-23"
        izz="2.7033E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://pawn_white/meshes/pawn_white.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
        <texture
          filename="package://pawn_white/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://pawn_white/meshes/pawn_white.STL" />
      </geometry>
    </collision>
  </link>
</robot>