<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ChessBoard_Assembled">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.1739 -0.0073089 -0.12109"
        rpy="0 0 0" />
      <mass
        value="6.3332" />
      <inertia
        ixx="0.068172"
        ixy="-2.3523E-08"
        ixz="-1.8875E-12"
        iyy="0.13532"
        iyz="2.3523E-08"
        izz="0.068172" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ChessBoard_Assembled/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ChessBoard_Assembled/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>