<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Rook_white">
  <link
    name="Rook_white">
    <inertial>
      <origin
        xyz="0.0013154 9.78180000000878E-08 0.0014346"
        rpy="0 0 0" />
      <mass
        value="0.010957" />
      <inertia
        ixx="1.6966E-06"
        ixy="2.3578000001915E-13"
        ixz="-3.1275E-07"
        iyy="1.9502E-06"
        iyz="-4.55390000007201E-12"
        izz="7.7407E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Rook_white/meshes/Rook_white.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://Rook_white/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Rook_white/meshes/Rook_white.STL" />
      </geometry>
    </collision>
  </link>
</robot>